In [1]:
import pandas as pd
data = {
    "Name": ["Alice", "Bob", "Alice", "Daisy","Eva"],
    "Age": [25,27,30,28,27],
    "City": ["New York", "London", "Paris", "Paris","Paris"],
    "Salary": [40000, 50000, 35000, 45000,60000]}
df = pd.DataFrame(data)
print(df)
df.to_csv("mini project 2.csv", index=False)

print("✅ Data saved to sample_data.csv")

    Name  Age      City  Salary
0  Alice   25  New York   40000
1    Bob   27    London   50000
2  Alice   30     Paris   35000
3  Daisy   28     Paris   45000
4    Eva   27     Paris   60000
✅ Data saved to sample_data.csv